/* 重写表格样式 */
.el-table thead.has-gutter {
  color: #0896d9;
  font-weight: 400;
}
.el-table__header {
  border-top: 2px solid #0896d9;
}
.el-table th.is-leaf {
  background: #f7f7f7;
  text-align: center;
  color: #666666;
}
.el-table th > .cell{
  font-weight: bold;
  font-size: .16rem;
  white-space: nowrap;
}
.el-table--enable-row-transition .el-table__body td{
  text-align: center;
}
.el-table .el-button{
  padding:0;
}
.el-table .el-tag {
  height: .31rem;
  line-height: .3rem;
  font-size: .14rem;
  white-space: normal;
}
.reason-tag{
  margin: .05rem;
  background-color: #ecf5ff;
  border-color: #d9ecff;
  color: #409eff;
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  color: #409EFF;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
  display: inline-block;
}
/* 标记点样式 */
#badgeDot .el-badge__content.is-fixed.is-dot{
  right: 0;
  top: .05rem;
}
#badgeDot .el-badge__content.is-dot{
  width: 5px;
  height: 5px;
}
/* 自选专家标识样式 */
#badgePerson .el-badge__content.is-fixed{
  right: .3rem;
}
/* 重写弹窗样式 */
.el-dialog__wrapper{
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.el-dialog__header{
  text-align: center;
}
.el-dialog__title{
  font-size: .18rem;
  font-weight: bold;
  color: #1F96D8;
}
.el-dialog__footer{
  text-align: center;
}
.el-dialog__footer .el-button{
  background: #1F96D8;
  color: #ffffff;
  border: none;
}
/* 重写表单样式 */
.el-form-item /deep/{
  margin-bottom: .22rem ;
}
.el-form-item__label {
  font-size: .16rem;
  line-height: .4rem;
  white-space: nowrap;

}
.el-textarea__inner{
  font-size: .14rem;
  font-family: Arial;
}
.el-input__inner {
  -webkit-appearance: none;
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  /* font-size: inherit; */
  font-size: .14rem;
  height: .4rem;
  line-height: .4rem;
  outline: none;
  padding: 0 .15rem;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.el-input__icon {
  height: 100%;
  width: 25px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: .4rem;
}
.el-form-item__content {
  line-height: .4rem;
  position: relative;
  font-size: .14rem;
}
.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
  border-color: #DCDFE6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: .12rem .2rem;
  font-size: .14rem;
  border-radius: 4px;
}
.el-button--text {
  border-color: transparent;
  color: #409eff;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
}
.el-table th, .el-table td {
  padding: .12rem 0;
  min-width: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative;
  text-align: left;
}
/* 统计首页el-radio-样式 */
#monthAndYear .el-radio-button__inner {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
  font-weight: 500;
  border-left: 0;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 0;
}
#monthAndYear .el-radio-button:first-child .el-radio-button__inner{
  border-left: 1px solid #DCDFE6;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#monthAndYear .el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: #FFFFFF;
  background-color: #409EFF;
  border-color: #409EFF;
  -webkit-box-shadow: -1px 0 0 0 #409EFF;
  box-shadow: -1px 0 0 0 #409EFF;
}
#monthAndYear .el-radio-button--mini .el-radio-button__inner {
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 0;
}

/* 单选框样式 */
.el-radio__label {
  font-size: .14rem;
  padding-left: .1rem;
}
.el-radio-button__inner{
  border: none;
  padding: .1rem;
}
.el-radio-button:first-child .el-radio-button__inner{
  border-left: none;
}
.el-radio-button__orig-radio:checked + .el-radio-button__inner{
  color: #FFFFFF;
  background-color: #1F96D8;
  border-color: #1F96D8;
  -webkit-box-shadow: -1px 0 0 0 #1F96D8;
  box-shadow: -1px 0 0 0 #1F96D8;
  border-radius: 3px;
}
/* tabs */
.el-tabs{
  height: 100%;
}
.el-tabs__content {
  overflow: hidden;
  position: relative;
  height: calc(100% - 55px);
}
.el-tabs__nav-scroll{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.el-tabs__item{
  font-size: .16rem;
  color: #666666;
  font-weight: bold;
}
#zxsxTabs .el-tabs__nav-scroll{
  justify-content: center;
}
#zxsxTabs .el-tabs__item{
  font-size: .14rem;
}
.el-checkbox__label {
  display: inline-block;
  padding-left: .1rem;
  line-height: .2rem;
  font-size: .14rem;
}
.el-date-editor .el-range-separator {
  line-height: .32rem;
  font-size: .14rem
}
.el-date-editor .el-range__icon {
  font-size: .14rem;
  line-height: .32rem;
}
.el-date-editor .el-range-input {
  font-size: .14rem;
}
.el-loading-spinner i {
  font-size: .3rem;
}
.el-loading-spinner .el-loading-text {
  font-size: .3rem;
}
.el-table-filter__bottom button {
  font-size: .14rem;
}
/* 文件弹窗头部样式 */
.dealSensitive-class .el-dialog__header{
  border-bottom: 1px solid #c1c1c1;
  background: #004c7f;
  color: #fff;
  text-align: left;
}
.dealSensitive-class .el-dialog__header span{
  color: #fff;
}
.dealSensitive-class .el-dialog__body {
  padding: 10px 20px;
  color: #606266;
  font-size: 14px;
  word-break: break-all;
}  
.dealSensitive-class .el-dialog__close{
  color: #fff;
}
.viewPdf-class  .el-dialog__header{
  /* border-bottom: 1px solid #c1c1c1; */
  background: #004c7f;
  color: #fff;
  text-align: left;
}
.viewPdf-class  .el-dialog__header span{
  color: #fff;
}
.viewPdf-class  .el-dialog__body {
  padding: 0;
  color: #606266;
  font-size: 14px;
  word-break: break-all;
}  
.viewPdf-class  .el-dialog__close{
  color: #fff;
}
.popover-style{
  max-width: 60%;
}
#myBreadcrumb .el-breadcrumb__separator{
  color: #4B5966;
}
#myBreadcrumb .el-breadcrumb__item{
  line-height: 20px;
}
.el-table .mine-row td{
  border-bottom: 5px solid #EBEEF5;
}
#topTable tr{
  height:48px;
}
#myDatePiker .el-date-editor .el-range-separator{
  width:20px;
}
